html{
  display:inline-block;
}

.array-bar{
  display: inline-block;
  background-color: blueviolet;
  margin-left: 1px;
  margin-right: 1px;
  font-size: 10px;
  font-style: bold;
  text-align: center;

}

.holder{
  height:auto;
  width: 90%;
  padding:0% 5%;
}

.range-slider{
  position: absolute;
  top:0px;
  margin-left: 50%;
  margin-top:1%;
  float:right;
  
}