html{
  display:inline-block;
}

.array-bar{
  display: inline-block;
  background-color: blueviolet;
  margin-left: 1px;
  margin-right: 1px;
  font-size: 10px;
  font-style: bold;
  text-align: center;

}

.holder{
  height:100vh;
  width: 80%;
  padding-left: 10%;
}

.range-slider{
  width:20%;
  float: right;
  
}